body {
	background-color: black;
	color: white;
	text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.fullscreen {
	font: 'Monospac82 MT';
	font-size: 200pt;
	font-weight: bolder;
}

.center {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
