@font-face {
	font-family: Major;
	src: url(./../font/MajorMonoDisplay-Regular.ttf);
  }

body {
	background-color: black;
	color: white;
	font-family: Major;
	text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
	-webkit-user-select: none;   
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	overflow-y: hidden;
	overflow-x: hidden;
}

.fullscreen {
	font: 'Monospac82 MT';
	font-weight: bolder;
}

.center {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.center-x {
	margin: 0;
	position: absolute;
	left: 50%;
	-ms-transform: translate(-50%);
	transform: translate(-50%);
}

h1, h2, h3, h4, h5 {
	display: inline;
}

h1 {
	font-size: 26em;
	letter-spacing: -4.5rem;
}

h2 {
	font-size: 9em;
}

h3 {
	font-size: 5em;
}

h5 {
	font-size: 3em;
}

#clock, #countdown, #timer {
	position: absolute;
	width: 150rem;
	text-align: center;
}

.nav-item {
	font-weight: 500;
	display: inline;
	font-size: 1.5em;
}

.btn {
	background: black;
	border: 2px solid black;
	border-radius: 0%;
	transition: all .30s ease-in-out;
}

.btn:hover {
	background-color: black;
	border: 2px solid white;
}

.ri-2x, .ri-3x, .ri-4x {
	cursor: pointer;
	color: rgba(255, 255, 255, 0.3);
	text-shadow: 0 0 0px rgba(255, 255, 255, 0.0);
	transition: all .2s ease-in-out;
}


.ri-2x:hover, .ri-3x:hover, .ri-4x:hover {
	color: rgba(255, 255, 255, 1);
}

.no-border {
	border: 0;
}

.no-border:hover {
	border: 0;
}

#fullscreen {
	position: absolute;
	top:0;
	right:0;
}
